{
  "presets": ["env","stage-0"],
  "plugins": ["transform-runtime",
    ["import", { "libraryName": "ant-design-vue", "libraryDirectory": "es", "style": "css" }],
    ["component", [
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]],
    "transform-remove-strict-mode"]

}